<div class="container-fluid">
    <div class="row">
        <div class="sidebar col-auto sticky-top">
            <div class="d-flex flex-column  justify-content-end ">
                <div class="p-2">
                    <a routerLink="/">
                        <div class="sidebar-logo-wrapper"><img src="assets/apm-logo.webp" alt="AccessPointLab logo"></div>
                    </a>

                    <p *ngIf="isAuthenticated()" class="mt-2"><em>Server: {{ getServerName() }}</em></p>
                </div>
                
                <div class="p-2">
                    <h5 class="py-2"><a class="sidebar-nav-item" [ngClass]="{ 'sidebar-element-disabled' : !isAuthenticated() }" (click)="openUploadModal()"><b>Upload</b></a></h5>
                </div>

                <div class="d-flex flex-column p-2">
                    <h5 class="py-2"><a class="sidebar-nav-item" [ngClass]="{ 'sidebar-element-disabled' : !isAuthenticated() }" routerLink="/">Map</a></h5>
                    <h5 class="py-2"><a class="sidebar-nav-item" [ngClass]="{ 'sidebar-element-disabled' : !isAuthenticated() }" routerLink="/list">List</a></h5>
                    <h5 class="py-2"><a class="sidebar-nav-item" [ngClass]="{ 'sidebar-element-disabled' : !isAuthenticated() }" routerLink="/run">Run</a></h5>
                    <h5 class="py-2"><a class="sidebar-nav-item" [ngClass]="{ 'sidebar-element-disabled' : !isAuthenticated() }" routerLink="/statistics">Statistics</a></h5>
                </div>

                <div class="p-2">
                    <h5 class="py-2"><a class="sidebar-nav-item" [ngClass]="{ 'sidebar-element-disabled' : !isAuthenticated() }" (click)="logout()"><b>Logout</b></a></h5>       
                 </div>
            </div>
        </div>
        
        <div class="col p-0 min-vh-100">
            <ng-content></ng-content>
        </div>
    </div>
</div>