.toast-color-error {
    color: var(--apm-status-bad) !important;
    background-color: var(--apm-status-bad-accent) !important;
}

.toast-color-default {
    color: var(--apm-status-good) !important;
    background-color: var(--apm-status-good-accent) !important;
}

.text-muted {
    color: #ffffff !important;
}