.toast-overlay {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 1em;
    z-index: 1900 !important;
}

.toast-color-error {
    color: var(--apm-status-bad) !important;
    background-color: var(--apm-status-bad-accent) !important;
}

.toast-color-default {
    color: var(--apm-status-good) !important;
    background-color: var(--apm-status-good-accent) !important;
}

.text-muted {
    color: #ffffff !important;
}