<div class="modal-body">
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-md-4">
                <div *ngIf="selectedAccessPoint !== undefined">
                    <div *ngIf="singleAccessPoint; else multipleAccessPoints">
                        <h4 class="ssid-title">{{ selectedAccessPoint.ssid }}</h4>
                    </div>
                    <ng-template #multipleAccessPoints>
                        <form [formGroup]="accessPointSelectionForm">
                            <select class="form-select" formControlName="selectedAccessPointId">
                                <option *ngFor="let accessPoint of accessPoints" [value]="accessPoint.id">{{ accessPoint.ssid }}</option>
                            </select>
                        </form>
                    </ng-template>
                </div>
            </div>
            <div class="col-md-8">
                <button (click)="closeModal()" type="button" class="btn-close float-end"></button>
            </div>
        </div>
        
        <!-- 
          -- The NgbNav is not used beacuse it is causing problems displaying on the nav.
          -- The custom nav can be extracted into a separate shared component in the future.
          -->
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item" (click)="switchCurrentTabView('general')">
                        <a class="nav-link" [ngClass]="{ 'active': ('general' === currentTabView) }">General</a>
                    </li>
                    <li class="nav-item" (click)="switchCurrentTabView('details')">
                        <a class="nav-link" [ngClass]="{ 'active': ('details' === currentTabView) }">Details</a>
                    </li>
                    <li class="nav-item" (click)="switchCurrentTabView('map')">
                        <a class="nav-link" [ngClass]="{ 'active': ('map' === currentTabView) }">Map</a>
                    </li>
                    <li class="nav-item" (click)="switchCurrentTabView('stamps')">
                        <a class="nav-link" [ngClass]="{ 'active': ('stamps' === currentTabView) }">Stamps</a>
                    </li>
                    <li class="nav-item" (click)="switchCurrentTabView('manage')">
                        <a class="nav-link" [ngClass]="{ 'active': ('manage' === currentTabView) }" [ngClass]="{ 'disabled': !hasAdminPermission }">Manage</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <div *ngIf="selectedAccessPoint !== undefined">
                    <div class="tab-view-container" [ngSwitch]="currentTabView">
                        <app-accesspoint-details-v2-general @fadeIn *ngSwitchCase="'general'" [accessPoint]="selectedAccessPoint" [hasAdminPermission]="hasAdminPermission"></app-accesspoint-details-v2-general>
                        <p @fadeIn *ngSwitchCase="'details'">TODO: Implement</p>
                        <app-accesspoint-details-v2-map @fadeIn *ngSwitchCase="'map'" [accessPoint]="selectedAccessPoint"></app-accesspoint-details-v2-map>
                        <p @fadeIn *ngSwitchCase="'stamps'">TODO: Implement</p>
                        <p @fadeIn *ngSwitchCase="'manage'">TODO: Implement</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>