th {
    color: var(--apm-primary);
    font-weight: bold;
}

tr {
    border-color: var(--apm-primary) !important;
}

td {
    color: var(--apm-accent);
}

.table-hover > tbody > tr:hover > * {
    color: var(--apm-primary);
}