.col-sortable, .clickable-title {
    cursor: pointer !important;
}

.clickable-title {
    color: var(--apm-primary);
    font-weight: bold;
}

.clickable-title:hover {
    color: var(--apm-accent);
}

.scrollable-table {
    overflow-y: scroll;
    height: 90vh;
}

thead {
    color: var(--apm-primary) !important;
}

tbody {
    color: var(--apm-accent) !important;
}
