.login-row {
    padding-top: 25vh;
}

.login-content-container {
    z-index: 1000;
}

.form-container {
    border: .1em var(--apm-primary) solid;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    color: var(--apm-primary);
}

.register {
    font-style: italic;
    cursor: pointer;
    color: var(--apm-primary);
    text-decoration: underline;
    text-decoration-color: var(--apm-primary);
}

.register:hover {
    color: var(--apm-accent);
    text-decoration-color: var(--apm-accent);
}