.upload-section {
    padding: 2em;
    border: .1em var(--apm-primary) solid;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
    color: var(--apm-primary);
}

p {
    color: var(--apm-accent);
}