.apm-ol-map-filter {
    background: var(--apm-light) !important;
}

.apm-ol-map-filter p {
    color: var(--apm-primary) !important;
}

.apm-ol-map-filter-form-header {
    padding: 0;
    margin: 0;
    color: var(--apm-light) !important;
}

input[type=text],
.datapicker-control {
    background-color: var(--apm-light) !important;
}